.btn {
  padding: .15rem .6rem;
  border: 1px solid #ff6d4d;
  color: #ff6d4d;
  background: #fff;
  user-select: none;
  cursor: pointer;
  &:hover {
    color: #fff;
    background: #ff6d4d;
  }
}
.btn-orangeBlack {
  border: none;
  color: #fff;
  background: #ff6d4d;
  &:hover {
    background: #242424;
  }
}
.btn-select {
  border: none;
  color: #787878;
  background: #f0f0f0;
  &:hover {
    color: #fff;
    background: #ff6d4d;
  }
}
.btn-select-active {
  color: #fff;
  background: #ff6d4d;  
}