.contact-address{
	margin: 0 10% 5% 10%;
}
.contact-address__list{
	margin-left: -.5rem;
	margin-bottom: -1rem;
}
.contact-address__item{
  box-sizing: border-box;
  padding: 0 0 1rem .5rem;
  line-height: .5rem;	
  .image-wrapper{
    height: 0;
    padding-bottom: 60%;
  }
  .widget-content{
    display: flex;
    font-size: .25rem;
    .iconfont{
    	font-size: .4rem;
    }
    .detail{
    	margin-left: .2rem;
    }
  }
}
