.home-introduce {
	padding: 8% 10%;
	line-height: .5rem;
  text-align: center;
  font-size: .25rem;
  color: #333;
}
.home-introduce__title {
	padding-bottom: .7rem;
  font-size: .5rem;
}
.home-introduce__subtitle {
	padding-bottom: .2rem;
}
.home-introduce__paragrah {
	padding-bottom: .5rem;
	text-align: left;	
}