.home-technology {
  justify-content: space-around;
  margin: 5% 10%;
  line-height: .5rem;
  text-align: center;
}
.home-technology__item {
  box-sizing: border-box;
  padding: 0 .2rem;
}
.home-technology__item__img-wrapper {
  width: 60px;
  height: 60px;
  margin: .5rem auto;
}
.home-technology__item__img {
	width: 100%;
}
