/* Widget
   ========================================================================== */


.widget-title {
	font-size: .25rem;
  margin-bottom: .3rem;
}
.widget-title-technology {
	font-size: .5rem;
  margin-bottom: .5rem;
}
.widget-title-project {
	font-size: .5rem;
	line-height: 1rem;
  margin-bottom: 0;
}
.widget-title-welfare {
	font: bold .3rem arial;
	line-height: 1rem;
  margin-bottom: 0;	
}
.widget-content {
	font-size: .22rem;
}
.widget-link {
	color: #fff;
	cursor: pointer;
}